* {
  font-family: "Poppins", sans-serif !important;
}
html {
  scroll-behavior: smooth;
}
.card {
  border-radius: 0;
}
.card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 0;
  object-position: top;
}
.m-section {
  margin: 5rem 0 5rem 0;
}
.hero {
  padding: 8rem 0 8rem 0;
}
.skill {
  background-color: rgba(0, 0, 0, 0.01);
}
.skill ul li {
  background-color: #fff;
  list-style: none;
  width: 5.3rem;
  height: 5rem;
  border-radius: 1rem;
  box-shadow: 7px 10px 10px 1px #dbdbdb;
}
